body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background-color: black;
  color:white;
}

.tables{
  display: inline-block;
  position:relative;
}

table{
  border: 1px solid white;
}

button{
  color:white;
  background-color: red;
  border-color: black;
  margin-left: 20px;
  padding:15px;
  font-size: large;
}

button:hover{
  background: black;
  color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}


input{
  left:50%;
  right:50;
  background-color: black;
  margin-bottom: 10px;
  line-height: 2.4em;
  color: #fff;
  font-family: roboto;
  font-weight: 300;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
  font-size: 19px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  resize: none!important;
  outline: 0;
}


.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  position: relative;
  margin-top: 50px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.teams{
  position: relative;
  left: 50%;
  top:50%;
  margin-top: 200px;
}

ul{
  
}